.find-box {border: 1px solid #000;}
.find {flex-direction: column;}
.question {padding: 30px 60px; font-size: 48px;border: 1px solid #000; letter-spacing: 1px; line-height: 1.35; box-sizing: border-box;}
.textbox {display: flex;}
textarea {
    width: 100%;
    padding: 30px 60px;
    font-size: 40px;
    line-height: 1.2;
}
#inputBtn {padding: 0 30px; font-size: 40px;white-space: nowrap;}