.page .title {position: relative; width: 600px; height: 600px; font-size: 120px; border-radius: 50%; border: 4px solid #000; z-index: 2;}
.page .title.red a{color: red;}
.click {display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;}
.list {position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.item {position: absolute; font-size: 60px; color: red;}
.item1 {left: 20%; top: 15%;}
.item2 {left: 65%; top: 20%;}
.item3 {left: 16%; top: 75%;}
.item4 {left: 63%; top: 79%;}