.list {display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 10px; width: 1000px;}
.item {width: calc((100% - 30px)/4); border-radius: 10px; overflow: hidden;}
.item a {display: block; padding: 20px;}
.title-mbti {font-size: 24px; font-weight: bold; margin-bottom: 16px;}
.item1 {background-color: #e2e4d7;}
.item2 {background-color: #bce2e3;}
.item3 {background-color: #f9d4cc;}
.item4 {background-color: #e7f0d3;}
.item5 {background-color: #e1d8e9;}
.item6 {background-color: #edb7b7;}
.item7 {background-color: #f3d6b6;}
.item8 {background-color: #e7c7de;}
.item9 {background-color: #c6e5f9;}
.item10 {background-color: #c9e5cf;}
.item11 {background-color: #fdedc9;}
.item12 {background-color: #c5dee3;}
.item13 {background-color: #f0f3c6;}
.item14 {background-color: #f6c1d3;}
.item15 {background-color: #c9d2e1;}
.item16 {background-color: #f2caaf;}
.desc-mbti {font-size: 16px; line-height: 1.2;}